<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>狗逼</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>狗逼</h1>
    <p>Welcome to 狗逼</p>
  <script src="bundle/vendor.bundle.js"></script>
  <script src="bundle/login.bundle.js"></script>
=======
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
>>>>>>> 57e5c15884855eacfd7a64418fb8cb49797a4645
  </body>
</html>
