<!DOCTYPE HTML>
<html>
<body>

<form action="" method="post">
Position: <input type="range" name="position" /><br />
Scale: <input dir="rtl" type="number" name="scale" /><br />
<input type="submit" value="提交" />
</form>

</body>
</html>



<!--       <div className='time'>
        <Label>Time</Label>
        <div className="row">
          <div className="col-xs-4">Position</div>
          <div className="col-xs-8">
          <input  ref="position"  type="range" name="position" min="-10" max="10"/>
          </div>
        </div>
        <div className="row">
          <div className="col-xs-4">Scale</div>
          <div className="col-xs-8">
          <input  ref="scale"  type="range" min="1" max="10000"/>
          </div>
        </div>
      </div> -->